:root {
    --header-height: 119px;
    --header-above-height: 34px;
    --header-under-height: calc(var(--header-height) - var(--header-above-height));
    --white-color: #fff;
    --primary-color: #F53E2D;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* button */
.btn {
    min-width: 142px;
    height: 34px;
    font-size: 1.4rem;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 12px;
    line-height: 1.6rem;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn.btn--size-s {
    height: 32px;
}

.btn.btn--disabled {
    background-color: #c3c3c3;
    color: #7c7a7a;
    cursor: default;
}

/* keyframe */
@keyframes growth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}