.app {

}

/* HEADER */
.header {
    height: var(--header-height);
    background-image: linear-gradient( #F53E2D, #FF6533);
}

.header-above {
    height: var(--header-above-height);
    display: flex;
}

.header-above ul {
    list-style: none;
}

.nav__item {
    display: inline-block;
    line-height: var(--header-above-height);
    margin: 0 8px;
}

.nav__item, .nav__item-link, .nav__item-title, .nav__item-icon-link {
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 300; 
}

.nav__item-link, .nav__item-icon-link {
    text-decoration: none;
    display: inline-block;
}

.nav__item:hover .nav__item-link, .nav__item:hover .nav__item-title {
    color: rgba(255, 255, 255, 0.75);
}

.nav__item i {
    margin-right: 5px;
}

.nav__item.txt-strong a{
    font-weight: 400;
}

.vertical-bar {
    position: relative;
}
.vertical-bar::after {
    content: "";
    height: 50%;
    width: 0px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}

/************** header above *****************/
.nav__left, .nav__right {
    flex: 1;
}

.nav__left-list {
    text-align: left;
}

.nav__left-list li:last-child::after {
    display: none;
}

.nav__right-list {
    text-align: right;
}

.nav-has-follow a:first-child i {
    margin-left: 4px;
}

/* header qr code */
.nav-has-qr {
    position: relative;
}

.nav-has-qr:hover .header__qr {
    display: block;
}

.header__qr {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 186px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 3px 11px;
    animation: fadeIn ease-in 0.2s;
    border: 1px solid var(--border-color);
    display: none;
    z-index: 3;
}

.header__qr::before {
    content: "";
    width: 35%;
    height: 10px;
    left: 0;
    top: -9px;
    background-color: transparent;
    position: absolute;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.header__qr-code-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    padding: 0px 14px;
}

.header__qr-apps:last-child {
    margin-top: 7px;
}

.header__qr-apps img {
    height: 16px;
}

.header__qr-apps:last-child img{
    height: 15px;
}

/* header notification */
.nav-has-notify {
    position: relative;
}

.nav-has-notify:hover .header__notify {
    display: block;
}

.header__notify {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: #fff;
    width: 370px;
    border: 1px solid var(--border-color);
    transform-origin: 88% top;
    animation: headertooltipGrow ease-in .25s;
    display: none;
    border-radius: 2px;
    z-index: 3;
}


.header__notify::before {
    content: "";
    border-width: 20px 29px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-top: none;
    position: absolute;
    top: -10px;
    right: 12px;
    cursor: pointer;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 30%;
    top: -7px;
    right: 0;
    height: 10px;
    background-color: transparent;
    cursor: pointer;
}

@keyframes headertooltipGrow {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    text-align: left;
    line-height: 40px;
    user-select: none;
}

.header__notify-header h3 {
    color: rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 12px;
}

.header__notify-list {
    background: rgba(255, 206, 137, 0.192);
    max-height: 48vh;
    overflow-y: auto;
}

.header__notify-item {
    
}

.header__notify-item-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-item:hover {
    background-color: rgb(248, 248, 248);
}

.header__notify-img-link {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    color: #333;
    text-align: left;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__notify-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__notify-describe {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-top: 4px;
    max-height: 34px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__notify-viewed {
    background-color: rgb(248, 248, 248);
}

.header__notify-footer {
}

.header__notify-footer a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 2px 10px;
    display: block;
    text-align: center;

}

/* header languages */
.header__languages {
    position: absolute;
    background: #fff;
    width: 200px;
    top: calc(100% + 3px);
    right: calc(100% + -87px);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    cursor: default;
    transform-origin: 80% top;
    animation: headertooltipGrow ease-in .25s;
    display: none;
}

.nav-has-languages span i:last-child {
    margin-left: 5px;
    margin-right: 0px;
}

.nav-has-languages {
    position: relative;
}

.nav-has-languages:hover .header__languages {
    display: block;
    z-index: 1;
}


.header__languages::before {
    content: "";
    border-width: 20px 29px;
    border-top: none;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -13px;
    right: 12px;
    cursor: default;
}

.header__languages::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    width: 44%;
    height: 5px;
    background-color: transparent;
}

.header__languages-list {
    text-align: left;
    margin-left: 12px;
}

.header__languages-item {
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    line-height: 38px;
}

.header__languages-item.header__languages--viewed {
    color: var(--primary-color);
}

/* user infomration */
.nav__user {
    position: relative;
}
.nav__user .nav__item-title {
    font-weight: 400;
}

.nav__user-info-avatar {
    height: 21px;
    width: 21px;
    border-radius: 20px;
    position: relative;
    top: 6px;  
    margin-right: 1px;  
}
.nav__user:hover  .nav__user-info-list{
    display: block;
}


.nav__user-info-list {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: #fff;
    z-index: 1;
    text-align: left;
    min-width: 150px;
    border-radius: 2px;
    transform-origin: 80% top;
    animation: growth ease-in 0.25s;
    border: 1px solid var(--border-color);
    display: none;
}


.nav__user-info-list::after {
    content: "";
    border-width: 10px 14px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    top: -13%;
    right: 10%;
    position: absolute;
}

.nav__user-info-list::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 55%;
    height: 5px;
    background-color: transparent;

}

.nav__user-info-item {

}

.nav__user-info-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.nav__user-info-item:hover {
    background-color: #fafafa;
}

.nav__user-info-item:hover .nav__user-info-link {
    color: rgb(12 205 205);
}

.nav__user-info-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.nav__user-info-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.nav__user-info-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 2px 12px;
    display: block;
    font-weight: 400;
}


/************ header-under ***********/
.header-under {
    height: var(--header-under-height);
    display: flex;
    align-items: center;
}

/* logo */
.header__logo {
    width: 202px;
    display: flex;
}

.header__logo-link {
    text-decoration: none;
    color: none;
}

.header__logo-img {
    width: 146px;
    margin: auto;
}

/* cart */
.header__cart {
    width: 138px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
}

.header__cart-amount {
    position: absolute;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: #fff;
    line-height: 1.2rem;
    padding: 3px 7px;
    border-radius: 10px;
    border: 2px solid #F9512F;
    top: -7px;
    right: -5px;
    text-align: center;
}

.header__cart-wrap:hover .header__cart-inner {
    display: block;
}

.header__cart-inner {
    position: absolute;
    top: calc(100% + 7.5px);
    background-color: #fff;
    right: -1px;
    border-radius: 2px;
    width: 400px;
    transform-origin: 95% -13px;
    animation: growth-opcacity ease-in 0.25s;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    cursor: default;
    z-index: 2;
    display: none;
 }


.header__cart-inner::before {
    content: "";
    position: absolute;
    top: -18px;
    border-width: 9px 13px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 10px;
}

.header__cart-inner::after {
    content: "";
    position: absolute;
    top: -5%;
    width: 70px;
    height: 13px;
    background-color: transparent;
    right: 0;
    cursor: pointer;
}
.header__cart-no-cart-img {
    width: 40%;
    margin-top: 20px;
    border-radius: 200px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-inner.header__cart-inner--no-cart .header__cart-no-cart-img, .header__cart-inner.header__cart-inner--no-cart .header__cart-no-cart-msg{
    display: block;
}

.header__cart-inner.header__cart-inner--no-cart .header__cart-heading, .header__cart-inner.header__cart-inner--no-cart .header__cart-button {
    display: none;
}

.header__cart-no-cart-msg {
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    margin-bottom: 2px;
    position: relative;
    top: -25px;
    display: none;
}
   
/* has cart */
.header__cart-heading {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.25);
    margin: 12px 10px;
    text-align: left;
}

.header__cart-list {
    list-style: none;
    max-height: 54vh;
    overflow-y: auto;
}

.header__cart-item {
    padding: 12px;
    cursor: pointer;
}

.header__cart-item--viewed {
    background-color: #fafafa;
}

.header__cart-item:hover {
    background-color: #fafafa;
}

.header__cart-item-link {
    display: flex;
    text-decoration: none;
}

.header__cart-item-img {
    height: 45px;
    object-fit: contain;
    border: 1px solid #ccc;
    margin-right: 12px;
}


.header__cart-item-info {
    flex: 1;
}

.header__cart-item-info-above {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__cart-item-info-name {
    font-size: 1.4rem;
    text-align: left;
    line-height: 2rem;
    font-weight: 500;
    color: var(--text-color);
    height: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1;
}

.header__cart-item-info-price-wrap {
    padding-top: 2px;
}

.header__cart-item-info-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-left: 10px;
}

.header__cart-item-info-multiply {
    font-size: 1.2rem;
    color: #6d6c6c;
    margin: 0 5px;
}

.header__cart-item-info-quanlity, .header__cart-item-info-description  {
    font-size: 1.4rem;
    color: #6d6c6c;
}

.header__cart-item-info-under {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-info-description {
    text-transform: capitalize;
}

.header__cart-item-info-remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    text-transform: capitalize;
}

.header__cart-item-info-remove:hover {
    color: var(--primary-color);
}

.header__cart-footer {
    background-color: rgba(0, 0, 0, 0.01);
    overflow: hidden;

}

.header__cart-button {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.header__cart-button:hover {
    background-color: var(--button-hover-color);
}

/* search */

.header__search {
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    flex: 1;
    display: flex;
    padding: 3px;
    align-items: center;
    /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 9%); */
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    border: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding-left: 16px;
    outline: none;
    line-height: 1.6rem;
    height: 100%;
    width: 100%;
}

.header__search-input:focus-visible ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    background-color: #fff;
    width: calc(100% - 16px);
    top: calc(100% + 7px);
    left: -3px;
    border-radius: 3px;
    overflow: hidden;
    animation: fadeIn ease-in 0.1s ;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
}

.header__search-history-title {
    font-size: 1.6rem;
    color: #D9D9D9;
    font-weight: 400;
    padding: 10px 19px;
}

.header__search-history-list {
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
    
    /* display: none; */
}

.header__search-history-item {
    padding: 5px 9px;

}

.header__search-history-item:hover {
    background-color: #f8f6f6;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.6em;
    color: var(--text-color);
    display: block;
    padding: 5px 10px;
}

.header__search-selection {
    border-left: 1px solid #E8E8E8;
    padding: 4px 16px;
    position: relative;
    cursor: pointer;


}

.header__search-selection-label {
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.6rem;
    color: #4A4A4A;
    margin-left: 8px;
    position: relative;
    top: 1px;
}

.header__search-button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-button:hover {
    background-color: #fb6445;
}

.header__search-button-icon {
    margin: auto;
}

.header__search-selection:hover .header__search-options-list {
    display: block;
}
.header__search-options-list {
    list-style: none;
    position: absolute;
    top: calc(100% + 11px);
    right: 0;
    background-color: #fff;
    width: 110px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear .1s;
    box-shadow: 0px 1px 2px 0px rgb(214, 214, 214);
    z-index: 2;
}

.header__search-options-list::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -20px;
    right: 0;
}

.header__search-option-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__search-option-item:hover {
    background-color: #f8f6f6;
}

.header__search-option-item-label {
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__search-option-item-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none !important;
}

.header__search-option-item--active .header__search-option-item-icon {
    display: inline-block!important;
}

/* history search */

/* CONTAINER */
.container {
    background-color: #F5F5F5;
    padding-top: 29px;
}

/* Category */
.category {
    /* background-color: #fff; */
    border-radius: 2px;
}

.catagory__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 0 16px;
    padding: 15px 0px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    position: relative;
    top: 0px;
    margin-right: 6px;
}

.category__list {
    list-style: none;
    margin-left: 11px;
    margin-top: 12px;
}

.category__item {

}

.category__item:last-child {
    padding-bottom: 2px;
}

.category__item:hover .category__item-link {
    color: var(--primary-color);
}

.category__item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 7px 16px;
    display: block;
    position: relative;
    right: 0;
    line-height: 2rem;
    user-select: none;
}

.category__item.category__item--active .category__item-link {
    color: var(--primary-color);
}

.category__item.category__item--active .category__item-link::before {
    content: "";
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-60%);

}


/* home-filter */
.home-filter-wrap {
    background-color: #EDEDED;
    padding: 16px 12px;
    display: flex;
    align-items: center;
}

.home-fillter__label {
    font-size: 1.4rem;
    color: #666;
    margin-right: 15px;
}

.home-fillter__btn {
    margin-left: 9px;
}

.home-fillter__btn:hover {
    background-color: rgb(253, 253, 253);
}

.home-filter__selection {
    height: var(--button-height);
    min-width: 200px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 12px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}


.home-filter__selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__selection-icon {
    font-size: 1.6rem;
    color: #4A4A4A;
}


.home-filter__selection:hover .home-filter__selection-list {
    display: block;
}

.home-filter__selection-list {
    list-style: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    cursor: pointer;
    animation: fadeIn ease-in 0.15s;
    display: none;
    border-radius: 2px;
}

.home-filter__selection-list::before {
    content:"";
    top: -2px;
    width: 100%;
    height: 7px;
    background-color: transparent;
    position: absolute;
}

.home-filter__section-item {
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__section-item:hover {
    color: var(--primary-color);
}

.home-filter__section-item:first-child {
    padding: 17px 12px;
}



.home-filter__section-item:last-child {
    padding: 0px 12px 17px 12px;
}

/* padding: 17px 12px; */


.home-filter__page {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.home-filter__num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 24px;
}

.home-filter__num-current {
    color: var(--primary-color);
}

.home-filter__controls {
    height: var(--button-height);
    width: 68px;
    display: flex;
    border-radius: 2px;
    border: 1px solid #D8D8D8;
}

.home-filter__control-item-link {
    flex: 1;
    line-height: 33px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.home-filter__control-item-link:hover {
    background-color: var(--white-color);
}

.home-filter__control-item-link:first-child {
    border-right: 2px solid #e3e3e3;
}

.home-filter__control-item-link.home-filter__control-item-link--disabled, .home-filter__control-item-link.home-filter__control-item-link--disabled:hover {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__control-item-link.home-filter__control-item-link--disabled .home-filter__control-item-icon {
    color: #cfcfcf;
}

/* home-product */
.home-products {
    margin-top: 10px;
}

.home-product-item__wrapper {
    margin-bottom: 10px ;
}

.home-product-item__link {
    position: relative;
    background-color: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: transform ease-in 0.01s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item__link:hover {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}


.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-product-item__inner {
    padding: 10px;
}

.home-product-item__description {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    line-height: 1.8rem;
    height: 36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__tag {
    display: flex;
    flex-wrap: wrap;
}

.home-product-item__special-shop {
    font-size: 1rem;
    color: #FF0020;
    border: 1px solid #FF0020;
    border-radius: 2px;
    padding: 2px 4px;
    margin-right: 5px;
    margin-top: 5px;
    display: none;
}

.home-product-item__discount-code {
    font-size: 1rem;
    color: #EE4D2D;
    border: 1px solid #EE4D2D;
    border-radius: 2px;
    padding: 2px 4px;
    margin-top: 5px;
    display: none;
}

.home-product-item__tag.home-product-item__tag--special-shop .home-product-item__special-shop{
    display: block;
}

.home-product-item__tag.home-product-item__tag--discount .home-product-item__discount-code{
    display: block;
}

.home-product-item__price {
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
}

.home-product-item__price.home-product-item__price--freeship .home-product-item__freeship {
    display: inline-block;
}

.home-product-item__old-price {
    font-size: 1.3rem;
    color: #595959;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-prodcut-item__current-price {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #EF4D2D;
    font-weight: 400;
}

.home-product-item__freeship {
    margin-left: auto;
    display: none;
}

.home-product-item__active {
    display: flex;
    margin-top: 10px;
    margin-bottom: 3px;
}

.home-product-item__active-heart {
    font-size: 1.3rem;
    color: #ccc;
}

i.home-product-item__active-heart--fill {
    display: none;
    color: #F53D2F;
}

.home-product-item__active-heart.home-product-item__active-heart--liked i.home-product-item__active-heart--fill{
    display: inline-block;
}

.home-product-item__active-heart.home-product-item__active-heart--liked i.home-product-item__active-heart--empty{
    display: none;
}

.home-product-item__rating {
    margin-left: auto;
    font-size: 0.8rem;
    color: #ccc;
}

.home-product-item__rating-icon {
    color: rgb(255,206,61);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: #212121;
    margin-left: 7px;
    display: none;
}

.home-product-item__active.home-product-item__active--sold .home-product-item__sold {
    display: block;
}

.home-product-item__origin-name {
    font-size: 1.3rem;
    color: #595959;
    display: block;
    text-align: right;
}

/* preferred */
.hom-product-item__favorite {
    color: var(--primary-color);
    background-color: currentColor;
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.hom-product-item__favorite::after {
    content: "";
    position: absolute;
    margin: auto;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    left: 0px;
    bottom: -4px;
    filter: brightness(60%);
}

.hom-product-item__favorite span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color);
    line-height: 1.7rem;
    user-select: none;
}

.hom-product-item__favorite i {
    font-size: 0.9rem;
    color: var(--white-color);
    margin-right: 2px;
}


.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 36px;
    background-color: rgb(253,214,55, 0.92);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}


.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    border-width: 4px 18px;
    border-style: solid;
    border-color: transparent rgb(253,214,55, 0.92);
    border-top: none;
    bottom: -4px;
}

.home-product-item__sale-off-percent {
    font-size: 1.2rem;
    font-weight: 500;
    color: #EE4D2D;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: var(--white-color);
    margin-top: 1px;
}

/* pagination */
.home-products__pagination {
    margin: 38px 0 158px 0px;
}

/* FOOTER */
.footer {
    border-top: 4px solid var(--primary-color);
}
.footer-container {
    padding-top: 50px;
    background-color: #FBFBFB;
}

.footer-container__above {
    padding-bottom: 27px;
    
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    
}

.footer-group  {

}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer__list {
    margin-top: 12px;
}

.footer__item {
    
}

.footer__item-link {
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0px;
    display: block;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.footer__item-icon {
    font-size: 1.8rem;
    margin-right: 10px;
    margin-top: -3px;
}

.footer__download {
    display: flex;
    margin-top: 20px;
}

.footer__download-qr-code {
    height: 84px;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

.footer__download-apps {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}   

.footer__download-app-img {
    height: 18px;
    object-fit: contain;
    /* margin-bottom: 5px; */
}


.footer-container__under {
    border-top: 1px solid #E1E1E1;
    padding: 35px 0px;
    display: flex;
    justify-content: center;
}

.footer-contry__list {
}

.footer-contry__item {
    display: inline-block;
}

.footer-contry__item:first-child .footer-contry__item-link::after {
    display: none;
}

.footer-contry__item:last-child .footer-contry__item-link::after {
    display: none;
}

.footer-contry__item-link {
    font-size: 1.4rem;
    color: #737373;
    padding: 0px 6px;
    position: relative;
}


.footer-contry__item-link::after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: #C9C9C9;
    right: -1px;
    top: 0;
    position: absolute;
}


.footer-footer {
    background-color: #F5F5F5;
    padding: 20px 0px;
}

.footer__text {
    text-align: center;
    font-size: 1.4rem;
    color: #737373;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    display: none;
}

.overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.1s;
}

.modal__body {
    background-color: #fff;
    margin: auto;
    z-index: 1;
    width: 500px;
    border-radius: 3px;
    overflow: hidden;
    animation: growth linear 0.1s;
}

.auth-form {

}

.auth-form__inner {
    padding: 36px 32px 25px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 30px;
}

.auth-form__group-form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 12px;
    outline: none;
    border: 1px solid #D3D3D3;
    margin-bottom: 10px;
}
.auth-form__aside {
    margin-top: 14px;
}

.auth-form__policy {
    padding: 0 12px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    user-select: none;
}

.auth-form__policy-link a {
    text-transform: capitalize;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
}


.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: right;
}


.auth-form__control-back {
    margin-right: 12px;
}

.auth-form__control-back:hover {
    background-color: rgb(241, 241, 241);
}

.auth-form__socials {
    display: flex;
    background-color: rgb(248, 248, 248);
    padding: 14px 36px;
    justify-content: space-between;
}

.auth-form__socials a {
    width: 49%;
}

.btn.auth-form__socials--facebook {
    background-color: rgb(48, 48, 150);
    color: #fff;
}


.btn.auth-form__socials--google {
    background-color: rgb(255, 255, 255);
    color: #888;
}


.auth-form__socials a i {
    font-size: 1.8rem;
}


.auth-form__socials-title {
    padding: 0 10px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}
.auth-form__help-separate {
    height: 16px;
    border: 1px solid rgb(238, 236, 236);
    margin: 0 16px;
}

